@model NoviInterviewMiniProject.Models.ViewModels.MemberItemViewModel

<tr>
    <td>@Model.Name</td>
    <td>@Model.MemberType</td>
    <td>@Model.Email</td>
    <td>@Model.Phone</td>
    <td>@Model.Mobile</td>
    <td>
        <a href="#" class="open-member-details" data-id="@Model.UniqueID">Details</a>
    </td>
</tr>

